@import "tailwindcss";

@theme {
  --color-primary: #143f40;
  --color-secondary: #d9e8f5;
  --color-secondary-2: #417576;
  --color-red: #b84042;
  --color-shadow: #486c6f;
  --font-poppins: poppins;
  --font-poppins-medium: poppins-medium;
  --font-poppins-bold: poppins-bold;
}

@font-face {
  font-family: poppins;
  src: url(assets/fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: poppins-bold;
  src: url(assets/fonts/Poppins-Bold.ttf);
}
@font-face {
  font-family: poppins-medium;
  src: url(assets/fonts/Poppins-Medium.ttf);
}

/* Vanilla */
* button {
  cursor: pointer;
}
.box-shadow-1 {
  box-shadow: 0 0.275em 0 #417576;
}
